[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
dj-rest-auth = "*"
celery = "==5.0"
redis = "*"
python-decouple = "*"
django-cors-headers = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
